/* Element Modifications */
body {
    margin: 0;
    height: 100vh;
    background: lightslategrey;
}

a {
    text-decoration: none;
    cursor: pointer;
}
a[target="_blank"] {
    /* cursor: url('../Images/icons8-hand-cursor.svg'), pointer; */
    /* cursor: alias; */
}
a.Active_Link {
    color: lightseagreen;
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 5px;
    text-decoration-color: lightseagreen;
    text-decoration-thickness: 3px;
    /* border-bottom: 3px solid lightseagreen; */ /*Different way of styling*/
}








/*.Main_Background_Gradient {
    height: 100%;
}*/





/*------------------------------------ Navbar Modifications ------------------------------------*/
.Navbar {
    padding-top: 20px;
    height: 80px;
    background-color: rgba(119, 136, 153, .97); /*Lightslategrey, background opacity is the fourth parameter*/

    /*Navbar Sticks to the Top of the Page*/
    position: sticky;
    top: 0;
}





/*The main link in the Navbar*/
.Main_Link {
    float: left;
    
    color: rgb(70, 219, 157);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;

    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 5%; /*Controls spacing after main (Home) link*/
    margin-bottom: 70px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    white-space: nowrap; /*Disabled text-wrapping*/
}


.Main_Link:hover {
    opacity: .8;
    transition: opacity .2s ease-in-out;
    color: white;
    text-decoration: underline;
    text-decoration-color: whitesmoke;
    text-decoration-thickness: 3px;
    transition: linear, .9s;

    height: 20px;
    /* width: 220px; */
    border-radius: 2px 0px 2px 0px;
    cursor: url('../Images/Cursors/icons8-hand-cursor.svg'), pointer; /*Temporary, feel free to use elsewhere...*/
}


.Main_Link_Active {
    float: left;

    color: rgb(70, 219, 157);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;

    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 35px; /*Controls spacing after main (Home) link*/
    margin-bottom: 70px;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}



/*The main links in the Navbar*/
.Main_Links_Padding {
    height: 100px;
    width: 100%;       /* Full width */
    display: flex;     /* Optional: aligns child items horizontally */
    align-items: left;
    padding: 0px 0px 0px 0px;   /* Optional: spacing inside the navbar */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.Main_Links {
    float: left;
    margin-left: 35px;
    opacity: 1;
    color: whitesmoke;
    padding-top: 2px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 10px;
}
.Main_Links:hover {
    opacity: .6;
    transition: opacity .2s ease-in-out;
    /* transition: linear .2s ease-in-out blue; */
    text-decoration: underline;
    text-decoration-style: solid;
    text-underline-offset: 5px;
    color: lightblue;
    text-decoration-color: lightblue;
    text-decoration-thickness: 2px;
}












.Navbar_Icons_Right_Padding {
    float: right;
    margin-left: auto;
    margin-right: 35px;
    flex: 0 0 auto;
    justify-content: flex-end;
}


.Navbar_Icons {
    float: right;
    margin-top: 2px;
    opacity: 1;
}

.Navbar_Icons:hover {
    opacity: .65;
    transition: opacity .2s ease-in-out;
    cursor: alias;
}